/* Remove default browser spacing */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Prevent scrollbars for graph views, allow for ML dashboard */
body {
  overflow: auto;
}

#root > div > div:last-child {
  overflow-y: auto;
}
